p
{
    color: blueviolet;
}

.header-background
{
    background-color: aqua;
    color: aliceblue;
    text-decoration: underline;
}

#bigger-font
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
}